doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Comfortaa&subset=greek,latin' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    div(class='nav-container')
      div(class='navbar')
        user(id='nav-button')= 'Jack'
        buttons
          a(href='/spaces' id='nav-button')= 'spaces'
          a(href='/sessions/new' id='nav-button')= 'login'
          a(href='/users/new' id='nav-button')= 'register'
