extends ../layout

block content
  div(class='spaces')
    h2= space.name  
    div(id='s-description')= space.sDescription
    div(id='l-description')= space.lDescription
    div(id='space-price')= space.price
    form
      label='from'
        input(type='text' id='datepicker1')
      label='to'    
        input(type='text' id='datepicker2')

  head
    meta(charset='utf-8')
    title datepicker demo
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
  script.
    $( "#datepicker1" ).datepicker();
    $( "#datepicker2" ).datepicker();
   
